@media screen and (min-width: 620px){
    main{
        margin: 13% auto;
    }

    /* Header */

    header{
        margin: 0;
    }

    .mainHeaderContainer{
        position: relative;
        right: 5%;
    }

    .mainHeaderContainer ul{
        flex-direction: row;
    }

    .mainHeaderContainer ul li{
        margin-left: 5%;
    }

    /* About us */

    .aboutUsHeaderContainer{
        max-width: 60vw;
        margin: 3% auto;
    }

    .aboutUsHeaderContainer h2{
        font-size: 1.3em;
    }

    .aboutUsImageContainer{
        margin-bottom: 5%;
    }

    .aboutUsImageContainer img{
        width: 25vw;
    }

    /* Search form */

    .closeSearchElement{
        position: relative;
        right: 100%;
        bottom: 11%;
    }

    .searchItemsInput{
         width: 50vw;
     }

    /* Contact page */

    .contactInfo p{
        margin: 3% auto;
        max-width: 50vw;
    }

    .contactIconsContainer{
        position: absolute;
        top: 40%;
        left: 70%;
    }

}

@media screen and (min-width: 992px){

    main{
        margin: 7% auto;
    }

    /* About us */

    .aboutUsImageContainer{
        margin-bottom: 5%;
    }

    .aboutUsImageContainer img{
        width: 22vw;
    }

    .aboutUsHeaderContainer{
        max-width: 45vw;
        margin: 3% auto;
    }

    .aboutUsHeaderContainer h2{
        font-size: 1.5em;
    }

    /* Contact page */

    .contactIconsContainer{
      position: absolute;
        left: 70%;
        top: 40%;
    }
}

@media screen and (min-width: 1200px){

    main{
        margin: 1% auto;
    }

    /* About us  */

    .aboutUsImageContainer img{
        width: 15vw;
    }

    .aboutUsHeaderContainer{
        max-width: 45vw;
        margin: 2% auto;
    }

    .aboutUsHeaderContainer h2{
        font-size: 1.5em;
    }

    .followUs{
        padding-bottom: 3%;
    }

    /* Search Form */

    .searchItemsInput{
        width: 20vw;
    }

    /* Contact page */
    .contactIconsContainer{
        position: absolute;
        top: 35%;
    }
}